.body_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.content{
  padding: 30px 0;
}
.text_section{
  padding: 0 7px;

}
.text_section h1{
  font-family: Verdana ;
  
}
.appointment_btn{
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  color: #f0ffff;
  border-radius: 4px;
  background: linear-gradient( to left, #2be9e9, #1ccc91 );
}
.img_section{
  padding: 4px 0;
}
.img_section img{
  width: 100%;
}