.info_wrapper{
  display: flex;
  padding: 10px 0px;
}
.info_primary{
  background-color: #1cc7c1;
}
.info_dark{
  background-color: #3a4256;
}
.icon_part{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.just_icon{
  font-size: 30px;
}